Repository Accenture/sfmc-devtools, pull requests merged in 2024-08, with the labels that each got.

#1532 Bump sfmc-sdk from 2.1.1 to 2.1.2
  .husky/post-merge
  package-lock.json
  package.json
Labels: dependencies

#1537 task/1533 support retrieving journey by name
  @types/lib/metadataTypes/Journey.d.ts.map
  lib/metadataTypes/Journey.js
  test/type.journey.test.js
Labels: c/journey

#1538 bug/1526 fix --metadata support for schedule, execute and pause
  @types/lib/metadataTypes/Journey.d.ts.map
  lib/cli.js
Labels: bug

#1556 bug/1536 fixed recursive folder deployments
  @types/lib/metadataTypes/Folder.d.ts.map
  lib/metadataTypes/Folder.js
  test/resourceFactory.js
  test/resources/9999999/dataFolder/+retrieve-QAA-response.xml
  test/resources/9999999/dataFolder/+retrieve-response.xml
  test/resources/9999999/dataFolder/create-ContentType=dataextension,Name=my,ParentFolderID=2-response.xml
  test/resources/9999999/dataFolder/create-ContentType=dataextension,Name=path,ParentFolderID=862002-response.xml
  test/resources/9999999/dataFolder/create-ContentType=dataextension,Name=sub,ParentFolderID=862001-response.xml
  test/resources/9999999/dataFolder/create-ContentType=dataextension,Name=subpath,ParentFolderID=862003-response.xml
  test/resources/9999999/dataFolder/retrieve-response.xml
  test/resources/9999999/email/v1/category/post-response-parentCatId=290937,name=my,catType=automations.json
  test/resources/9999999/email/v1/category/post-response-parentCatId=862100,name=sub,catType=automations.json
  test/resources/9999999/email/v1/category/post-response-parentCatId=862101,name=path,catType=automations.json
  test/resources/9999999/email/v1/category/post-response-parentCatId=862102,name=subpath,catType=automations.json
  test/resources/9999999/folder-deploy/Data Extensions/my.folder-meta.json
  test/resources/9999999/folder-deploy/Data Extensions/my/sub.folder-meta.json
  test/resources/9999999/folder-deploy/Data Extensions/my/sub/path.folder-meta.json
  test/resources/9999999/folder-deploy/Data Extensions/my/sub/path/subpath.folder-meta.json
  test/resources/9999999/folder-deploy/my automations/my.folder-meta.json
  test/resources/9999999/folder-deploy/my automations/my/sub.folder-meta.json
  test/resources/9999999/folder-deploy/my automations/my/sub/path.folder-meta.json
  test/resources/9999999/folder-deploy/my automations/my/sub/path/subpath.folder-meta.json
  test/type.folder.test.js
  test/utils.js
Labels: bug, c/folder

#1559 task/1558 add custom git-fork commands pull and switch & pull
  .fork/custom-commands.json
  .husky/post-checkout
  .husky/post-merge
Labels: chore, contributor

#1560 task/1558: fixes around orgin/branch vs branch
  .fork/custom-commands.json
Labels: chore, contributor

#1575 task/1574 allow overriding prettier parser in config
  @types/lib/util/file.d.ts.map
  lib/util/file.js
Labels: c/asset, c/query, c/script, chore

#1591 bug/1588: fix post-retrieve processing of transactional email journeys
  @types/lib/metadataTypes/Journey.d.ts.map
  lib/metadataTypes/Journey.js
Labels: bug, c/journey, c/transactionalEmail

#1594 task/1592: remove transactionalEmail from journey dependencyGraph
  @types/lib/metadataTypes/Journey.d.ts
  @types/lib/metadataTypes/Journey.d.ts.map
  @types/lib/metadataTypes/definitions/Journey.definition.d.ts
  lib/metadataTypes/definitions/Journey.definition.js
Labels: c/journey, chore, c/transactionalEmail

#1595 task/1590 warn users not to create transactionalEmail directly
  @types/lib/metadataTypes/TransactionalEmail.d.ts.map
  lib/metadataTypes/TransactionalEmail.js
Labels: c/journey, chore, c/transactionalEmail

#1596 feature/1589 allow creating transactionalEmail by publishing a transactional journey
  @types/lib/metadataTypes/Journey.d.ts.map
  lib/metadataTypes/Journey.js
  test/general.test.js
  test/resourceFactory.js
  test/resources/9999999/dataExtension/retrieve-response.xml
  test/resources/9999999/interaction/v1/interactions/get-response.json
  test/resources/9999999/interaction/v1/interactions/key_testExisting_temail_notPublished/get-response.json
  test/resources/9999999/interaction/v1/interactions/transactional/create/post-response.json
  test/resources/9999999/messaging/v1/email/definitions/get-response.json
  test/resources/9999999/messaging/v1/email/definitions/testExisting_temail_notPublished/get-response.json
  test/type.automation.test.js
  test/type.dataExtension.test.js
  test/type.journey.test.js
  test/type.transactionalEmail.test.js
Labels: enhancement, c/journey, c/transactionalEmail

#1597 7.2.0
  .fork/custom-commands.json
  .husky/post-checkout
  .husky/post-merge
  @types/lib/metadataTypes/Journey.d.ts
  @types/lib/metadataTypes/Journey.d.ts.map
  @types/lib/metadataTypes/TransactionalEmail.d.ts.map
  @types/lib/metadataTypes/definitions/Journey.definition.d.ts
  @types/lib/util/file.d.ts.map
  lib/metadataTypes/Journey.js
  lib/metadataTypes/TransactionalEmail.js
  lib/metadataTypes/definitions/Journey.definition.js
  lib/util/file.js
  package-lock.json
  package.json
  test/general.test.js
  test/resourceFactory.js
  test/resources/9999999/dataExtension/retrieve-response.xml
  test/resources/9999999/interaction/v1/interactions/get-response.json
  test/resources/9999999/interaction/v1/interactions/key_testExisting_temail_notPublished/get-response.json
  test/resources/9999999/interaction/v1/interactions/transactional/create/post-response.json
  test/resources/9999999/messaging/v1/email/definitions/get-response.json
  test/resources/9999999/messaging/v1/email/definitions/testExisting_temail_notPublished/get-response.json
  test/type.automation.test.js
  test/type.dataExtension.test.js
  test/type.journey.test.js
  test/type.transactionalEmail.test.js
Labels: e/IDE, c/journey, c/transactionalEmail

#1600 bug/1599 ensure required fields are send to API
  lib/metadataTypes/definitions/Event.definition.js
  lib/metadataTypes/definitions/Journey.definition.js
Labels: bug, c/event, c/journey

#1609 task/1608 find related sendClassification and senderProfile by ID, not by key
  @types/lib/metadataTypes/Journey.d.ts.map
  @types/lib/metadataTypes/SendClassification.d.ts.map
  @types/lib/metadataTypes/TriggeredSend.d.ts.map
  lib/metadataTypes/Journey.js
  lib/metadataTypes/SendClassification.js
  lib/metadataTypes/TriggeredSend.js
  lib/metadataTypes/definitions/SendClassification.definition.js
  lib/metadataTypes/definitions/TriggeredSend.definition.js
  test/resources/9999999/sendClassification/create-response.xml
  test/resources/9999999/sendClassification/retrieve-response.xml
  test/resources/9999999/sendClassification/update-response.xml
  test/resources/9999999/triggeredSendDefinition/create-response.xml
  test/resources/9999999/triggeredSendDefinition/retrieve-TriggeredSendStatusINNew,Active,Inactive,Moved,Canceled-response.xml
  test/resources/9999999/triggeredSendDefinition/update-response.xml
Labels: c/journey, c/sendClassification, c/senderProfile, c/triggeredSend, chore

#1612 task/1611 allow deleting entire journey by specifying the version with /*
  @types/lib/metadataTypes/Journey.d.ts.map
  lib/metadataTypes/Journey.js
  test/resourceFactory.js
  test/type.journey.test.js
Labels: c/journey, chore

#1615 task/1614 speed up multi-key deletes & equalize delete-errors
  @types/lib/index.d.ts
  @types/lib/index.d.ts.map
  lib/index.js
  lib/metadataTypes/Asset.js
  lib/metadataTypes/Automation.js
  lib/metadataTypes/DataExtract.js
  lib/metadataTypes/FileTransfer.js
  lib/metadataTypes/ImportFile.js
  lib/metadataTypes/MetadataType.js
  lib/metadataTypes/MobileKeyword.js
  lib/metadataTypes/Query.js
  lib/metadataTypes/Script.js
  test/general.test.js
Labels: c/asset, c/automation, c/dataExtract, c/importFile, c/query, c/script, chore, c/fileTransfer, c/mobileKeyword

#1617 task/1616 have CreatedDate and ModifiedDate in deploy response
  lib/metadataTypes/definitions/DataExtension.definition.js
  lib/metadataTypes/definitions/EmailSend.definition.js
  lib/metadataTypes/definitions/Role.definition.js
  lib/metadataTypes/definitions/SendClassification.definition.js
  lib/metadataTypes/definitions/SenderProfile.definition.js
  lib/metadataTypes/definitions/TriggeredSend.definition.js
  test/resources/9999999/dataExtension/update-callout-afterCreatedViaEvent-expected.xml
Labels: c/dataExtension, c/emailSend, c/role, c/sendClassification, c/senderProfile, c/triggeredSend, chore

#1618 feature/1020 pause journey and stop journey features added
  @types/lib/index.d.ts
  @types/lib/index.d.ts.map
  @types/lib/metadataTypes/Journey.d.ts.map
  @types/lib/metadataTypes/MetadataType.d.ts
  @types/lib/metadataTypes/MetadataType.d.ts.map
  lib/cli.js
  lib/index.js
  lib/metadataTypes/Journey.js
  lib/metadataTypes/MetadataType.js
Labels: enhancement, c/journey

#1604 bug/1570 salesforce triggered journeys cannot be published after deploy
  .vscode/settings.json
  @types/lib/metadataTypes/Event.d.ts
  @types/lib/metadataTypes/Event.d.ts.map
  @types/lib/metadataTypes/Journey.d.ts
  @types/lib/metadataTypes/Journey.d.ts.map
  @types/lib/metadataTypes/MetadataType.d.ts.map
  @types/types/mcdev.d.d.ts
  @types/types/mcdev.d.d.ts.map
  boilerplate/files/.vscode/settings.json
  boilerplate/forcedUpdates.json
  eslint.config.js
  lib/cli.js
  lib/metadataTypes/Event.js
  lib/metadataTypes/Journey.js
  lib/metadataTypes/MetadataType.js
  types/mcdev.d.js
Labels: bug, c/event, c/journey

#1623 feature/1619 allow using "name:" for buildTemplate and build
  @types/lib/index.d.ts.map
  lib/index.js
Labels: enhancement

#1629 bug/1627 run publish journey action sequentially for multi-step journeys to fix race condition for sf-journeys
  @types/lib/metadataTypes/Journey.d.ts
  @types/lib/metadataTypes/Journey.d.ts.map
  lib/metadataTypes/Journey.js
  package-lock.json
  package.json
  test/general.test.js
  test/resources/9999999/interaction/v1/interactions/publishAsync/0175b971-71a3-4d8e-98ac-48121f3fbf4f/post-response.json
  test/type.journey.test.js
Labels: bug, c/journey

#1632 Task/1631 improve configurationArgument checks incl common vs contact logic for salesforce data entry events
  .vscode/settings.json
  @types/lib/metadataTypes/Event.d.ts
  @types/lib/metadataTypes/Event.d.ts.map
  @types/lib/metadataTypes/Journey.d.ts.map
  boilerplate/files/.vscode/settings.json
  boilerplate/forcedUpdates.json
  lib/metadataTypes/Event.js
  lib/metadataTypes/Journey.js
Labels: c/event, c/journey, chore

#1634 bug/1510 fix retrieving users and roles together failing due to missing timezones
  @types/lib/metadataTypes/Role.d.ts
  @types/lib/metadataTypes/Role.d.ts.map
  lib/metadataTypes/Role.js
Labels: bug, c/user

#1638 task/1637 enable syntax highlighting for SSJS files in gitlab
  boilerplate/files/.gitattributes
  boilerplate/forcedUpdates.json
Labels: chore

#1640 bug/1505 fix bad asset links on journeys when retrieved together with triggeredSends
  @types/lib/metadataTypes/Journey.d.ts.map
  lib/metadataTypes/Journey.js
Labels: bug, c/journey

#1502 BUG/1472 adapt order in which assets are deployed for inter-type dependencies
  @types/lib/metadataTypes/Asset.d.ts
  @types/lib/metadataTypes/Asset.d.ts.map
  @types/lib/metadataTypes/MetadataType.d.ts
  @types/lib/metadataTypes/MetadataType.d.ts.map
  @types/lib/util/replaceContentBlockReference.d.ts
  @types/lib/util/replaceContentBlockReference.d.ts.map
  @types/lib/util/util.d.ts
  @types/lib/util/util.d.ts.map
  boilerplate/files/README.md
  lib/index.js
  lib/metadataTypes/Asset.js
  lib/metadataTypes/MetadataType.js
  lib/util/replaceContentBlockReference.js
  lib/util/util.js
Labels: bug, c/asset
